*.o
*.so
*.pyc

output_processing/phil_output_extractor/build

wrk/
bin/

src/fsz
src/fsz.dSYM/
src/snappy/
src/DEPENDS
src/PHIL
src/PHIL.md5
src/PHIL.tar.gz
src/PRNG__Mersenne_Twister/dSFMT-src-2.2/dSFMT-params19937.h.gch
src/PRNG__Mersenne_Twister/dSFMT-src-2.2/dSFMT.h.gch
src/libphil.so.dSYM/
src/tags

!src/snappy/snappy-1.0.5.tar.gz

populations/2005_2009_ver2_42065/
